<!--
This launch file is an example for 2D scan matching

It has been parametrized for the PR2 rosbag that can be downloaded at
wget http://pr.willowgarage.com/data/gmapping/small_loop_prf.bag
-->

<launch>
	<node name="mapper" type="mapper" pkg="ethzasl_icp_mapper" output="screen" >
		<remap from="scan" to="/lidar/scan" />
		<!--remap from="cloud_in" to="/point_cloud" /-->
		<param name="subscribe_scan" value="true" />
		<param name="subscribe_cloud" value="false" />
		<param name="icpConfig" value="$(find ethzasl_icp_mapper)/launch/kingfisher/icp.yaml" />
		<param name="inputFiltersConfig" value="$(find ethzasl_icp_mapper)/launch/kingfisher/input_filters.yaml" />
		<param name="mapPostFiltersConfig" value="$(find ethzasl_icp_mapper)/launch/kingfisher/map_post_filters.yaml" />
		<param name="odom_frame" value="/kingfisher/laser" />
		<param name="map_frame" value="/map" />
		<param name="useROSLogger" value="false" />
		<param name="minOverlap" value="0.35" /> 
		<param name="maxOverlapToMerge" value="0.85" /> 
		<param name="minMapPointCount" value="500" /> 
		<param name="minReadingPointCount" value="30" /> 
	</node>
</launch>
