<!-- 

-->

<launch>
	<node name="mapper" type="dynamic_mapper" pkg="ethzasl_icp_mapper" output="screen" >
		<remap from="cloud_in" to="/velodyne_points" />
		<param name="subscribe_scan" value="false"/>
		<param name="icpConfig" value="$(find ethzasl_icp_mapper)/launch/velodyne_64e/icp_dynamic_outdoor.yaml" />
		<param name="inputFiltersConfig" value="$(find ethzasl_icp_mapper)/launch/velodyne_64e/input_filters_outdoor.yaml" />
		<param name="mapPostFiltersConfig" value="$(find ethzasl_icp_mapper)/launch/velodyne_64e/mapPost_filters_outdoor.yaml" />
		<param name="odom_frame" value="/velodyne" />
		
		<param name="map_frame" value="/map" />
		<param name="useROSLogger" value="true" />
		<param name="inputQueueSize" value="1" />
		<param name="tfRefreshPeriod" value="0.005" />
		<param name="minOverlap" value="0.2" /> 
		<param name="maxOverlapToMerge" value="0.90" /> <!--0.78 or 0.95-->
		<param name="minReadingPointCount" value="1000" /> 
		<param name="minMapPointCount" value="500" /> <!-- quick fix to have map published each time -->
		<param name="localizing" value="true" /> 
		<param name="mapping" value="true" /> 


		<!-- Parameters for dynamic elements -->
		<param name="priorStatic" value="0.45"/>
		<param name="priorDyn" value="0.55"/>
		<param name="maxAngle" value="0.02"/> <!--0.04--><!--Angle used to cluster points around a beam -->
		<param name="eps_a" value="0.1"/><!--0.2-->
		<param name="eps_d" value="0.2"/>
		<param name="alpha" value="0.99"/>
		<param name="beta" value="0.90"/>
		<param name="maxDyn" value="0.90"/>
		<param name="maxDistNewPoint" value="0.2"/> <!--0.2 Good for outside-->
		<param name="sensorMaxRange" value="100.0"/>

	</node>
	

</launch>
