<launch>
	<node name="mapper" type="mapper" pkg="modular_cloud_matcher" output="screen" >
		<param name="icpConfig" value="$(find modular_cloud_matcher)/launch/nifti_mapper_icp.yaml" />
		<param name="inputFiltersConfig" value="$(find modular_cloud_matcher)/launch/nifti_mapper_input_filters.yaml" />
		<param name="mapFiltersConfig" value="$(find modular_cloud_matcher)/launch/nifti_mapper_map_filters.yaml" />
		<param name="mapFrameId" value="/odom" />
		<param name="cloudTopic" value="/dynamic_point_cloud" />
		<param name="maxMapPointCount" value="600000" />
	</node>
</launch>
