<launch>
  <node pkg="openni_camera" type="openni_node" name="openni_camera" output="screen" >
    <param name="image_mode" value="8" />
    <param name="depth_mode" value="8" />
    <param name="debayering" value="0" />
    <param name="depth_registration" value="1" />
    <rosparam command="load" file="$(find openni_camera)/info/openni_params.yaml" />
  </node>
</launch>

