<launch>
  <node pkg="openni_camera" type="openni_node" name="openni_camera" output="screen" >
    <param name="registration_type" value="2" />
    <param name="point_cloud_type" value="2" />
    <param name="point_cloud_resolution" value="0" />
    <param name="image_resolution" value="0" />
    <param name="disparity_resolution" value="0" />
    <param name="image_input_format" value="6" />
    <rosparam command="load" file="$(find openni_camera)/info/openni_params.yaml" />
  </node>
</launch>

