<launch>
  <node name="cloud_matcher_node" type="cloud_matcher_node" pkg="modular_cloud_matcher" output="screen"> 
    <param name="startupDropCount" value="5" />
    <param name="statFilePrefix" value="test.stats." />
	<param name="config" value="$(find modular_cloud_matcher)/launch/kinect.yaml" />
    
<!-- ROS topic parameters -->
    <param name="sensorFrame" value="/openni_rgb_optical_frame" />
    <param name="fixedFrame" value="/rotated_world" />
    <param name="cloudTopic" value="/depth_registered/points" />
  </node>
</launch>
