<launch>
	<node name="pointCloudToVtk" type="pointCloudToVtk" pkg="ethzasl_point_cloud_vtk_tools" output="screen">
		<param name="cloudTopic" value="/camera/depth/points" />
		<param name="mapFrameId" value="/camera_depth_optical_frame" />
		<param name="recordOnce" value="false" />
		<param name="outputPath" value="./" />
		<param name="outputPrefix" value="realSense" />
		<param name="outputExtension" value="csv" />
		<param name="outputSuffixTimestamp" value="true" />
		<param name="usedAsGlobalShutter" value="true" />
	</node>
</launch>
